.App {
  text-align: center;
}

.center{
  display:flex;
  justify-content: center;
}

.particles{
  position:fixed; 
  /*want the background to be fixed*/
  top:0;
  bottom:0;
  left:0;
  z-index:-1;
  /*adds the particles to the bottom layer*/
}
